<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">

    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
                title:"Confirmación",
                text: '[[${msg}]]',
                icon: "success"
            })
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            })
        </script>
    </div>

    <h1>Listado de ventas</h1>
    <a th:href="@{/ventas/create}" class="btn btn-outline-primary">Nueva Venta</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Cliente</th>
            <th>Correlativo</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${ventas}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.idUsuario}"></td>
            <td th:text="${item.idCliente}"></td>
            <td th:text="${item.correlativo}"></td>
            <td th:text="${item.fechaHora}"></td>
            <td th:text="${item.total}"></td>
            <td th:text="${item.estado}"></td>
            <td>
                <a th:href="@{/ventas/details/{id} (id = ${item.id}) }" class="btn btn-outline-secondary">Detalles</a>
                <a th:href="@{/ventas/edit/{id} (id = ${item.id}) }" class="btn btn-outline-info">Editar</a>
                <a th:href="@{/ventas/remove/{id} (id = ${item.id}) }" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{|/empresas?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>


</div>