<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">

    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
                title:"Confirmación",
                text: '[[${msg}]]',
                icon: "success"
            })
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            })
        </script>
    </div>

    <h1>Listado de Proveedores</h1>
    <a th:href="@{/proveedores/create}" class="btn btn-outline-primary">Nuevo Proveedor</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Distrito</th>
            <th>Nombre</th><!-- Combina Nombre y Apellido -->
            <th>Telefono</th>
            <th>Email</th>
            <th>Detalle</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${proveedores}"> <!-- Itera sobre la lista de proveedores -->
            <td th:text="${item.id}"></td>
            <td th:text="${item.distrito.nombre}"></td>
            <td th:text="${item.nombre}"></td> <!-- Muestra nombre y apellido juntos -->
            <td th:text="${item.telefono}"></td>
            <td th:text="${item.email}"></td>
            <td th:text="${item.detalle}"></td>
            <td th:text="${item.direccion}"></td>
            <!-- Muestra el nombre del municipio asociado al proveedor -->
            <td th:text="${item.distrito.nombre}"></td>
            <td>
                <a th:href="@{/proveedores/details/{id} (id = ${item.id}) }" class="btn btn-outline-secondary">Detalles</a>
                <a th:href="@{/proveedores/edit/{id} (id = ${item.id}) }" class="btn btn-outline-info">Editar</a>
                <a th:href="@{/proveedores/remove/{id} (id = ${item.id}) }" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{|/proveedores?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>

</div>