<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <div th:if="${not #strings.isEmpty(msg)}">
        <script>
            Swal.fire({ title: "Confirmación", text: [[${msg}]], icon: "success" });
        </script>
    </div>

    <div th:if="${not #strings.isEmpty(error)}">
        <script>
            Swal.fire({ title: "Error", text: [[${error}]], icon: "error" });
        </script>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Lista de Categoria</h1>
        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#buscarModal">
            Buscar Categoria por ID
        </button>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${categorias.content}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombre}"></td>
            <td class="d-flex gap-1">
                <a th:href="@{/categorias/details/{id}(id=${item.id})}" class="btn btn-outline-secondary">Detalle</a>
                <a th:href="@{/categorias/edit/{id}(id=${item.id})}" class="btn btn-outline-info">Editar</a>
                <a th:href="@{/categorias/remove/{id}(id=${item.id})}" class="btn btn-outline-danger">Eliminar</a>
                <a th:href="@{/categorias/create}" class="btn btn-outline-primary">Crear</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="buscarModal" tabindex="-1" aria-labelledby="buscarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="buscarModalLabel">Buscar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/categorias/buscar}" method="get">
                        <div class="mb-3">
                            <label for="idCategoria" class="form-label">ID de la Categoria:</label>
                            <input type="number" class="form-control" id="idCategoria" name="id" required>
                        </div>
                        <button type="submit" class="btn btn-warning">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{/categorias(page=${pageNumber})}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>

</div>
</html>