<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Detalles de Producto</h1>
    <div>
        <hr  />
        <dl class="row">
            <dt class="col-ms-2">ID</dt>
            <dd class="col-ms-10" th:text="${producto.id}"></dd>

            <dt class="col-ms-2">Nombre</dt>
            <dd class="col-ms-10" th:text="${producto.nombre}"></dd>

            <dt class="col-ms-2">Precio</dt>
            <dd class="col-ms-10" th:text="${producto.precio}"></dd>

            <dt class="col-ms-2">Cantidad</dt>
            <dd class="col-ms-10" th:text="${producto.cantidad}"></dd>
        </dl>
        <a th:href="@{/productos/edit/{id}} (id = ${producto.id} )" class="btn btn-outline-info">Editar</a>
        <a th:href="@{/productos}">Regresar</a>
    </div>
</div>
